.container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transform-origin: center center;
}

/* Animations */
.animate-twinkle {
    animation: twinkle 2s ease-in-out infinite;
}

@keyframes twinkle {
    0% {
        transform: scale(1) rotate(0deg);
        opacity: 1;
    }

    50% {
        transform: scale(0.6) rotate(20deg);
        opacity: 0.8;
    }

    100% {
        transform: scale(1) rotate(0deg);
        opacity: 1;
    }
}