.container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transform-origin: center center;
}

/* Animations */
.animate-shock {
    animation: shock 1s ease-in-out infinite;
}

@keyframes shock {
    0% {
        transform: translateY(-50px) scale(0.8);
        opacity: 0;
    }

    10% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }

    15% {
        transform: translateY(-5px);
    }

    20% {
        transform: translateY(0);
    }

    100% {
        opacity: 1;
    }
}