.container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transform-origin: center center;
}

/* Animations */
.animate-pulse {
    animation: pulse 0.8s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}