.container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transform-origin: center center;
}

/* Animations */
.animate-flow {
    animation: flow 1s linear infinite;
}

@keyframes flow {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        transform: translateY(20px);
        opacity: 0;
    }
}