.container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transform-origin: center top;
}

/* Animations */
.animate-drop {
    animation: drop 1.5s ease-in-out infinite;
}

@keyframes drop {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }

    50% {
        transform: translateY(10px) scale(1.05, 0.95);
    }

    80% {
        opacity: 1;
    }

    100% {
        transform: translateY(20px) scale(0.9, 1.1);
        opacity: 0;
    }
}